<head th:fragment="head-admin-pages">
<meta charset="UTF-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" th:href="@{/css/customstyle.css}">
<title>Shop CMS - Seiten</title>
</head>

<head th:fragment="head-admin-pages-add">
<meta charset="UTF-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" th:href="@{/css/customstyle.css}">
<title>Shop CMS - Seite hinzufügen</title>
</head>

<head th:fragment="head-admin-pages-update">
<meta charset="UTF-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" th:href="@{/css/customstyle.css}">
<title>Shop CMS - Seite bearbeiten</title>
</head>

<head th:fragment="head-admin-categories">
<meta charset="UTF-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" th:href="@{/css/customstyle.css}">
<title>Shop CMS - Kategorien</title>
</head>

<head th:fragment="head-admin-categories-add">
<meta charset="UTF-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" th:href="@{/css/customstyle.css}">
<title>Shop CMS - Kategorie hinzufügen</title>
</head>

<head th:fragment="head-admin-categories-update">
<meta charset="UTF-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" th:href="@{/css/customstyle.css}">
<title>Shop CMS - Kategorie bearbeiten</title>
</head>

<head th:fragment="head-admin-products">
<meta charset="UTF-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" th:href="@{/css/customstyle.css}">
<title>Shop CMS - Produkte</title>
</head>

<head th:fragment="head-admin-products-add">
<meta charset="UTF-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" th:href="@{/css/customstyle.css}">
<title>Shop CMS - Produkte hinzufügen</title>
</head>

<head th:fragment="head-admin-products-update">
<meta charset="UTF-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" th:href="@{/css/customstyle.css}">
<title>Shop CMS - Produkte bearbeiten</title>
</head>