<nav th:fragment="nav-admin"
	class="navbar navbar-expand-md navbar-dark bg-dark">
	<a class="navbar-brand" href="/admin">KubiCodes Shop CMS</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#navbarsExampleDefault"
		aria-controls="navbarsExampleDefault" aria-expanded="false"
		aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarsExampleDefault">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active"><a class="nav-link"
				href="/admin/pages">Seiten</a></li>
			<li class="nav-item active"><a class="nav-link"
				href="/admin/categories">Kategorien</a></li>
			<li class="nav-item active"><a class="nav-link"
				href="/admin/products">Produkte</a></li>
		</ul>
		<ul class="float-right navbar-nav" th:if="${principal == null}">
			<li class="nav-item active"><a th:href="@{/register}"
				class="nav-link">Registrieren</a></li>
			<li class="nav-item active"><a th:href="@{/login}"
				class="nav-link">Login</a></li>
		</ul>

		<form th:if="${principal != null}" method="post"
			th:action="@{/logout}">
			<span class="text-white" th:text="${'Hi, ' + principal}"></span>
			<button class="btn btn-secondary">Logout</button>
		</form>
	</div>
</nav>

<nav th:fragment="nav-front"
	class="navbar navbar-expand-md navbar-dark bg-dark">
	<a class="navbar-brand" href="/">KubiCodes Shop CMS</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#navbarsExampleDefault"
		aria-controls="navbarsExampleDefault" aria-expanded="false"
		aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarsExampleDefault">
	
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active" th:each="page: ${allPages}"><a
				class="nav-link" th:href="@{'/' + ${page.slug}}"
				th:text="${page.title}"></a></li>
			<li class="nav-item active"><a class="nav-link" href="/kategorien/all">Produkte</a></li>
		</ul>

		<ul class="float-right navbar-nav" th:if="${principal == null}">
			<li class="nav-item active"><a th:href="@{/register}"
				class="nav-link">Registrieren</a></li>
			<li class="nav-item active"><a th:href="@{/login}"
				class="nav-link">Login</a></li>
		</ul>

		<form th:if="${principal != null}" method="post"
			th:action="@{/logout}">
			<span class="text-white" th:text="${'Hi, ' + principal}"></span>
			<button class="btn btn-secondary">Logout</button>
		</form>
	</div>
</nav>
